@import url(//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic);

body {
    margin: 0 0 0 10px;
    padding: 0;
    /*min-width: 1238px;*/
    font-family: Roboto, sans-serif;
}

header {
    height: 420px;
    width: 100%;
    text-align: center;
}

header img {
    margin: 20px 0 0 0;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-510%);
    }
}

#hours {
    font: bold 16px Roboto, sans-serif;
    color: #FA5F20;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: .3s;
    animation: scroll 20s infinite linear;
}

#hours:hover {
    color: #C00;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

h2 {
    color: #4A86E8;
    text-align: center;
    transition: .3s;
    animation: zoom 1s;
}

h2:hover {
    color: #435F88;
}

aside img {
    background: #4A86E8;
    position: fixed;
    z-index: 1;
    top: 420px;
    left: 10;
    opacity: .5;
    transition: .3s;
}

aside img:hover {
    opacity: 1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .3);
    transform: scale(1.1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background: #F8C76F;
    color: #4A86E8;
    font-size: 15px;
}

td {
    background: #FEF8E3;
    font-size: 14px;
    vertical-align: top;
}

th,
td {
    border: 1px solid #111;
    padding: 10px;
    transition: .3s;
}

th:hover {
    /*background-color: rgba(220, 130, 0, 0.4);*/
    background: radial-gradient(at center, #FEEBC8, #F8C76F);
    color: #435F88;
}

td:hover {
    /*background-color: rgba(248, 199, 111, 0.4);*/
    background: radial-gradient(at center, #FEF8E3, #FEEBC8);
}

th:hover,
td:hover {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .3);
}

#hours:hover,
h2:hover,
th:hover,
td:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transform: translate(-3px, -3px);
}

.cell {
    text-align: center;
}

a {
    text-decoration: none;
    transition: .3s;
}

a:vizited {
    color: #FAA21A;
}

a:hover {
    color: #800;
}

a:active {
    color: #080;
}

.photoI img {
    left: 0;
    top: 100px;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    transform: scale(0);
    transition: transform .5s ease-out;
}

.photoI:hover img {
    visibility: visible;
    transform: scale(1);
}

.post {
    list-style: none;
}

.post__menu {
    color: #00F;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.post__menu:hover {
    color: #800;
}

.post__menu .menu {
    color: inherit;
    opacity: 0;
    position: absolute;
    list-style: none;
    text-align: left;
    top: -9999em;
    transition: opacity .3s;
}

.post__menu:hover .menu {
    top: 15px;
    left: -2px;
    opacity: 1;
}

.post__menu .menu .menu__item:first-child {
    border-bottom: 1px solid #FEF8E3;
}

.post__menu .menu .menu__link {
    background: #F8C76F;
    padding: 6px 26px;
    display: block;
    text-decoration: none;
    transition: .3s;
    text-indent: 0;
}

.post__menu .menu .menu__link:hover {
    padding: 8px 20px 8px 32px;
    /*background-color: #F8C76F;*/
    background: radial-gradient(at center, #FEF8E3, #F8C76F);
    color: inherit;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .3);
}

.formatDate {
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formatDate > p {
    transition: .3s;
}

.formatDate > p:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transform: translate(-3px, -3px);
}

.green {
    color: #258D57;
}

.orange {
    color: #F09300;
}

.red {
    color: #C53929;
}

.cto span {
    left: -580px;
    top: -2px;
    position: absolute;
    width: 0%;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}

.cto:hover span {
    visibility: visible;
    opacity: 1;
}

ul {
    margin: 0;
    padding: 0 0 0 1%;
    /*list-style-type: square;*/
    font-style: normal;
}

ul.project {
    padding: 0 0 0 5%;
}

ul.certificate {
    padding: 5px 0 0 4%;
}

ul.metods {
    padding: 0 0 0 6%;
}

ul:not([class="post"]) > li {
    list-style: none;
    text-indent: -1.4em;
}

ul:not([class="post"]) > li:not([class="post__menu"]):not([class="menu__item"])::before {
    content: '\263A';
    padding: 0 6px 0 0;
    vertical-align: 1px;
}

ol {
    margin: 0;
    padding: 0 0 0 5%;
    font-style: italic;
    list-style-type: none;
    /* Убираем исходные маркеры */
    counter-reset: item;
    /* Обнуляем счетчик списка */
    text-indent: -1.1em;
}

ol > li::before {
    content: counter(item) ') ';
    /* Добавляем к числам скобку */
    counter-increment: item;
    /* Задаём имя счетчика */
}

ol > li {
    font-weight: 500;
}

li {
    font-weight: 400;
}

.grafik {
    background: #FEF8E3;
    text-align: center;
    width: 100%;
    transition: .3s;
}

.grafik > a {
    display: block;
}

.grafik:hover {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .3);
    transform: translate(-3px, -3px);
}

.links {
    height: 80px;
    min-width: 1238px;
    font-size: 14px;
    text-indent: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links span {
    margin: 0 0 0 -20px;
    width: 230px;
    display: block;
    font-size: 14px;
    transition: .3s;
}

.links span:hover {
    font-size: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.links img {
    width: 50px;
    height: 50px;
    transition: .3s;
}

.links img:hover {
    transform: scale(1.2);
}

footer .copyright {
    background: #F8C76F;
    height: 80px;
    font-weight: bold;
    color: #4A86E8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

footer .copyright:hover {
    background: radial-gradient(at center, #FEEBC8, #F8C76F);
}

footer .copyright span {
    transition: .3s;
}

footer .copyright span:hover {
    color: #435F88;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transform: translate(-3px, -3px);
}

@media only all and (max-width: 1200px) {

    .formatDate,
    .links span {
        display: inline;
        text-align: center;
    }

}
