@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic');

body {
    margin: 0;
    padding: 0;
    min-width: 1238px;
    /*max-width: 1400px;*/
    /*background-color: #FEF8E3;*/
    font-family: Roboto, sans-serif;
}

#hours {
    font: bold 16px Roboto, sans-serif;
    color: #CC0001;
    /*text-decoration: underline;*/
    position: absolute;
    top: 5px;
    right: 5px;
}

header {
    height: 420px;
    width: 100%;
    text-align: center;
}

header img {
    margin-top: 20px;
    /*height: 50px;
	width: 50px;
	position: fixed;
	top: 9px;
	left: 9px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	z-index: 1;*/
}

header img:hover {
    /*background-color: #FFFF00;
	border: 1px solid #1351B4;*/
}

.operator {
    position: fixed;
    top: 420px;
    left: 0;
    opacity: 0.5;
}

.operator:hover {
    opacity: 1;
    transition: opacity 0.3s linear;
}

header h2 {
    color: #4A86E8;
    text-align: center;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #111111;
    padding: 10px;
}

.rowH {
    background-color: #F8C76F;
    /*background-color: #FFFF00;*/
    color: #4A86E8;
    font-size: 15px;
}

.rowD {
    background-color: #FEF8E3;
    font-size: 14px;
    vertical-align: top;
}

.name {
    width: 100px;
}

.cell {
    text-align: center;
}

.post__item {
    list-style: none;
    position: relative;
}

.post__item .post__link {
    text-decoration: none;
    cursor: pointer;
    color: #0000FF;
    margin: 2px;
}

.post__item .menu {
    display: none;
    position: absolute;
    list-style: none;
    text-align: left;
}

.post__item .menu .menu__link {
    background-color: rgba(248, 199, 111, 0.4);
    padding: 6px 25px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.post__item .menu .menu__link:hover {
    background-color: #F8C76F;
    color: #800000;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

.photoI span {
    position: absolute;
    visibility: hidden;
    width: 0%;
    z-index: 2;
    transform: scale(0);
}

.photoI:hover span {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.5s linear;
}

.formatDate {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.green {
    color: #258D57;
}

.orange {
    color: #F09300;
}

.red {
    color: #C53929;
}

.cto span {
    left: 150px;
    position: absolute;
    visibility: hidden;
    width: 0%;
    z-index: 3;
    opacity: 0;
}

.cto:hover span {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

ul {
    margin: 0;
    padding-left: 1%;
    list-style-type: square;
    font-style: normal;
}

ul.certificate {
    padding-top: 5px;
    padding-left: 7%;
}

ul.metods {
    padding-top: 5px;
    padding-left: 6%;
}

ul li {
    /*padding-left: 5%;*/
}

ol {
    margin: 0;
    padding-left: 5%;
    font-style: italic;
    /*text-decoration: underline;
	/* Подчеркивание заголовка */
    /*list-style-type: none; /* Убираем исходные маркеры */
    /*counter-reset: item; /* Обнуляем счетчик списка */
}

ol li:before {
    /*content: counter(item) ') '; /* Добавляем к числам скобку */
    /*counter-increment: item; /* Задаём имя счетчика */
}

ol ol {
    /*font-style: normal;*/
    /*list-style: none; /* Скрываем маркеры списка */
    /*text-indent: -9%; /* Сдвигаем элементы списка влево */
}

ol ol li:before {
    /*content: '\25AA'; /* Добавляем маркер в шестнадцатеричном формате*/
    /*padding-right: 2%; /* Расстояние от маркеров до текста */
    /*font-style: normal;*/
}

.grafik {
    /*border-top: 0;
	border: 1px solid #636363;*/
    background-color: #FEF8E3;
    text-align: center;
    width: 100%;
}

.links {
    height: 80px;
    font-size: 14px;
    text-indent: 20px;
    text-align: center;
    /*line-height:150%; изменение высоты строк */
    /*word-spacing:12px; изменение расстояния между словами */
    /*letter-spacing:3px; изменение расстояния между буквами */
    display: flex;
    justify-content: center;
    align-items: center;
}

.links span {
    font-size: 14px;
}

.links span:hover {
    font-size: 16px;
    transition: font-size 0.5s linear;
}

.links img {
    width: 50px;
    height: 50px;
}

.links img:hover,
.operator img:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform 0.5s linear;
}

a:link {
    color: #0000FF;
}

a:vizited {
    color: #FAA21A;
}

a:hover {
    color: #800000;
}

a:active {
    color: #008000;
}

a {
    text-decoration: none;
    transition: color 0.5s linear;
}

footer {
    background-color: #F8C76F;
    /*background-color: #FFFF00;*/
    height: 80px;
    /*margin-top: 3%;*/
    font-weight: bold;
    color: #4A86E8;
    display: flex;
    justify-content: center;
    align-items: center;
}
